@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

nav{
    background-color: rgb(52, 19, 52);
    color: white;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

nav li{
    list-style: none;
}

.gameContainer{
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 20px;
}

.container{
    display: grid;
    grid-template-rows: repeat(3, 10vw);
    grid-template-columns: repeat(3, 10vw);
}

.box{
    border: 1px solid rgb(52, 19, 52);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 7vw;
}

.box:hover{
    background-color: rgb(250, 227, 250);
    cursor: pointer;
}

.gameInfo{
    padding: 20px;
    font-size: 1.5vw;
}

.gameInfo h3{
    margin-bottom: 1rem;
}

.imgContainer img{
    width: 0;
    transition: width 1s ease-in-out;
}

.bt-0{
    border-top: 0;
}

.br-0{
    border-right: 0;
}

.bb-0{
    border-bottom: 0;
}

.bl-0{
    border-left: 0;
}

.infoContainer{
    display: flex;
    gap: 1rem;
    align-items: center;
}

#reset{
    padding: 0.3rem 0.6rem;
    background-color: rgb(250, 227, 250);
    border-radius: 0.5rem;
    outline: none;
    font-size: 1vw;
    border: 2px solid rgb(52, 19, 52);
    cursor: pointer;
    font-weight: 600;
    letter-spacing: 1px;
}

@media screen and (max-width: 800px){
    .gameContainer{
        flex-wrap: wrap;
    }
}
